@import "partial/footer.scss";
@import "partial/timeline.scss";
@import "partial/reward.scss";

@import "layout/index.scss";
@import "layout/home.scss";
@import "layout/post.scss";
@import "layout/tag.scss";
@import "layout/friend.scss";
@import "layout/about.scss";


@import "animation.scss";
@import "mathjax.scss";
@import "vcomments.scss";
@import "article.scss"; 

$body-bg-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei",
    FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB",
    "Hiragino Sans GB W3", Arial, sans-serif;
  background-color: $body-bg-color;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

a:hover {
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 54px - 11.8rem );
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.comment-anchor {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.form-control {
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
}

button, a {
  outline: 0;
}

* {
  box-sizing: border-box;
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  color: #24292e;
}

.btn-primary {
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
}
