.article-edit {
    select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        display: inline-block;
        height: 18px;
        padding: 4px;
        margin-bottom: 9px;
        font-size: 0.929em;
        line-height: 18px;
        color: #757575;
    }
}

.article-edit {
    select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        background-color: #fff;
        border: 1px solid #e9e9e9;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
        &:focus {
          border-color: #08c;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 0 8px #08c;
        }
    }
}
.article-edit {
    input[type='text'], select {
        margin: 0.5em 3px;
        box-sizing: border-box;
        width: calc(100% - 5px);
        height: 32px;
        padding: 5px;
    }
    .article-toolbar {
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        height: 50px;
        padding-top: 20px;
        padding-right: 50px;
        text-align: right;
        z-index: 10;
        button {
            display: inline-block;
            margin: 0;
            padding: 6px 12px;
            font-weight: 500;
            font-size: 1em;
            line-height: 18px;
            text-align: center;
            cursor: pointer;
            transition: all .25s;
            border: none;
            font-weight: normal;
            color: #fff;
            background: #08c;
            margin-left: 5px;
            &:hover {
                color: #fff;
                background: #006da3;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .article-toolbar {
            position: static;
            padding-top: 0px;
            padding-right: 0px;
        }
    }
}


.form-group-item {
    position: relative;
    padding-left: 40px;
    label {
        position: absolute;
        width: 40px;
        left: 0;
        margin: 0.5em 3px;
        box-sizing: border-box;
        height: 32px;
        padding: 5px;
        line-height: 18px;
    }
}

.form-main {
    margin-bottom: 20px;
}