.article-edit {
    .article-toolbar {
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        height: 50px;
        padding-top: 15px;
        padding-right: 50px;
        text-align: right;
        z-index: 10;
        background: #fff;
        button {
            display: inline-block;
            margin: 0;
            padding: 6px 12px;
            font-weight: 500;
            font-size: 1em;
            line-height: 18px;
            text-align: center;
            cursor: pointer;
            transition: all .25s;
            border: none;
            font-weight: normal;
            color: #fff;
            background: #08c;
            margin-left: 5px;
            &:hover {
                color: #fff;
                background: #006da3;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .article-toolbar {
            position: static;
            padding-top: 0px;
            padding-right: 0px;
        }
    }
}

.form-main {
    margin-bottom: 20px;
}